.conv{
    position: fixed;
    background-color: white;
    width: 80%;
    display: flex;
    gap: 10px;
}
#conversation-title{
    padding-left: 3%;
}
#leave-group{
    position: relative;
    left: 40%;
    width:110px;
    height:40px;
    color: rgb(205, 1, 1);
    border-color: rgb(205, 1, 1);
}
#leave-group:hover{
    background-color:rgb(255, 208, 208);
}
#leave-group:active{
    background-color:rgb(255, 208, 208);
}
#add-to-group{
    position: relative;
    left: 40%;
    width:110px;
    height:40px;
    padding-left: 10px;
}
.conv-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#messages-list{
    margin-top: 100px;
    padding-bottom: 60px;
    overflow-y: auto; /* Scorrimento verticale se necessario */

}
.message-item{
    width: 70%;

}
#forward-message{
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 3px;
}
#forward-svg{
    position: relative;
    top: 0px;
    width: 15px;
    height: 15px;
}
#delete-message{
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 0px;
}
#delete-svg{
    position: relative;
    top: 0px;
    width: 15px;
    height: 15px;
    color: rgb(195, 21, 21);
}

#message-form{
    position: fixed;
    flex-grow: 1;
    bottom: 0px;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 80%;
    height: 60px;
    background-color: white;
}
#message-input{
    position: relative;
    width: 70%;
    height: 40px;
}#pic-container{
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
}
.btn{
    position:fixed;
}
#message-pic{
    width: 200px;
}

#popup-container{
    width:auto;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.popup-content {
background: white;
padding: 20px;
border-radius: 10px;
text-align: center;
}

#convs-popup{
    width: 20%;
    justify-content: center;
}

#forward-conv{
    position: absolute;
    left: 0px;
    width: 100%;
    display: flex;
    justify-items: start;
}

#forward-box{
	position: relative;
	left: 0;
}

#forwarded-text{
    display: inline;
    font-style: oblique;
    color: rgba(76, 76, 76, 0.774);
}

.emoji-picker{
    position: fixed ;
}