#user-settings{
    height: 800px;
    padding-top: 20px;
    text-decoration: none;
    justify-content: flex-end;
    gap: 210px;
    width: 100%;
}

.fixed-top {
    width: 300px; /* O qualsiasi altra larghezza desiderata */
    margin-left: auto; /* Lo spinge completamente a destra */
    right: 0; /* Assicura che sia allineato a destra */
}